.header {
    height: 80px;
    background-color: #333333;
}

.main {
    height: 100vh;
    background-color: #cccccc;
}

.footer {
    padding: 56px 32px;
    background-color: #333333;
    color: #ffffff;
}